<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseApp.Properties.Settings.ClientsBaseConnectionString"
            connectionString="Data Source=DESKTOP-1Q2BQKB;Initial Catalog=ClientsBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBaseApp.Properties.Settings.testDBConnectionString"
            connectionString="Data Source=DESKTOP-1Q2BQKB;Initial Catalog=testDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBaseApp.Properties.Settings.kursachConnectionString"
            connectionString="Data Source=DESKTOP-1Q2BQKB;Initial Catalog=kursach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>